/**
    MOBILE FIRST
*/

h1{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

#main{
    width: 80%;
    height: 75vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
}


.pino{
    width: 30%;
    height: 200px;
    background-color: lightgray;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#pino1{

}

#pino2{

}

#pino3{

}

.disco{
    height: 10%;
    font-size: 70%;
    text-align: center;
    border-radius: 30px;
}

.yellow {
    background-color: yellow;
    width: 250px;
}
.blue {
    background-color: red;
    width: 200px;
}
.red {
    background-color: green;
    width: 150px;
}
.green {
    background-color: blue;
    width: 100px;
}
.selecionado {
    background-color: orange;
}

/**DESKTOP */
@media screen and (min-width: 750px){

    .pino{
        width: 30%;
        height: 300px;
    }

}    